<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cnn" connectionString="Data Source=LAP0301TRD031;Initial Catalog=ExtremeAccess;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
